@using TheWall.Models
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Home Page";
    var Messages = @ViewBag.Messages;
    var Comments = @ViewBag.SortedComments;
    var Users = @ViewBag.AllUsers;
}

@{
    if (ViewBag.UserId == null)
    {
        <div class="section center-align">
            <h3 class="thin greeting">You must be logged in to post a message.</h3>
        </div>
    }
    else
    {
        <div class="row section">
            <div class="col s12 center-align">
                <h3 class="thin greeting">Hello @ViewBag.UserName, welcome to The Wall.</h3>
                <div id="message-form center">@Html.Partial("Partials/MessageForm")</div>
            </div>
        </div>
    }
}

<div class="row section">
    @foreach (var message in Messages)
    {
        Comment new_comment = new Comment();
        new_comment.MessageId = @message["id"];
        int user_id = @message["user_id"];
        dynamic user = Users[user_id - 1];
        <div class="col s12">
            <ul class="collapsible hoverable" data-collapsible="accordian" id="dark-border">
                <li>
                    <div class="collapsible-header active dark-primary-color accent-light-text-active">
                        <span>Posted by @user["first_name"] on @message["created_at"].ToString("dddd, MMMM dd, yyyy @ h:mm:ss tt")</span>
                    </div>
                    <div class="collapsible-body default-primary-color light-primary-color-text"> 
                        <div class "collapse-open">
                            <div class="collapse-inner">
                                <p class="body-content">
                                    @message["message"]
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header dark-primary-color accent-light-text small-title">View comments</div>
                    <div class="collapsible-body default-primary-color light-primary-color-text">
                        <div class="collapse-inner">
                            @if (@message.ContainsKey("Sorted_Comments") == true)
                            {
                                @foreach (var comment in @message["Sorted_Comments"])
                                {
                                    <div class="body-content comment">
                                        <div>
                                            @{
                                                user_id = comment["user_id"];
                                                user = Users[user_id - 1];
                                            }
                                            <h6 class="accent-light-text small-title">Comment by @user["first_name"] on @message["created_at"].ToString("dddd, MMMM dd, yyyy @ h:mm:ss tt")</h6>
                                            @comment["comment"]
                                        </div>
                                    </div>
                                }
                            }
                            @if (@message.ContainsKey("Sorted_Comments") == false)
                            {
                                <div class="body-content comment">No comments yet.</div>
                            }
                        </div>
                    </div>
                </li>
                @if (ViewBag.UserId != null)
                {   
                <li>
                    <div class="collapsible-header dark-primary-color accent-shade-text small-title">Add comment</div>
                    <div class="collapsible-body default-primary-color white-text">
                        <div class="collapse-inner">
                            <p class="body-content">
                                @Html.Partial("Partials/CommentForm", new_comment)
                            </p>
                        </div>
                    </div>
                </li>
                }
            </ul>
        </div>
    }
</div>