@using TheWall.Models
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Home Page";
    var Messages = @ViewBag.Messages;
    var Comments = @ViewBag.Comments;
    var Posts = @ViewBag.AllData;
}
@{
    if (ViewBag.UserId == null)
    {
        <div class="section">
            <h3>You must be logged in to post a message.</h3>
        </div>
    }
    else
    {
        <div class="row section">
            <h3>Hello @ViewBag.UserName</h3>
            <div class="col s12" id="message-form">@Html.Partial("Partials/MessageForm")</div>
        </div>
    }
}

    <div class="row section">

        @foreach (var message in Posts)
        {
            Comment new_comment = new Comment();
            new_comment.MessageId = @message["message_id"];
            <div class="row section">
                <ul class="collapsible hoverable" data-collapsible="accordian" id="dark-border">
                    <li>
                        <div class="collapsible-header active dark-primary-color accent-light-text-active">Message by @message["message_username"] on @message["message_created_at"].ToString("dddd, MMMM dd, yyyy @ h:mm:ss tt")</div>
                        <div class="collapsible-body default-primary-color light-primary-color-text "> 
                            @message["message"];
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header dark-primary-color accent-light-text">View comments</div>
                        <div class="collapsible-body default-primary-color light-primary-color-text">
                            @message["comment"]
                        </div>
                    </li>
                    @if (ViewBag.UserId != null)
                    {   
                    <li>
                        <div class="collapsible-header dark-primary-color accent-shade-text">Add comment</div>
                        <div class="collapsible-body default-primary-color white-text">
                            @Html.Partial("Partials/CommentForm", new_comment)
                        </div>
                    </li>
                    }
                </ul>
            </div>
        }
    </div>
