@{
    ViewData["Title"] = "Home Page";
    // HttpContext.Session.SetInt32("message_id", (int)Message[0]["id"]);
    // List<Dictionary<string, dynamic>> Messages = HttpContext.Session.GetObjectFromJsonList<Dictionary<string, dynamic>>("results");
    var Messages = @ViewBag.Messages;
}


<div class="row section">
    <div class="col s12 m6 l5" id="message-form">@Html.Partial("./Partials/MessageForm")</div>
</div>

<div class="row section">
    @{
        foreach (var message in Messages)
        {
            TempData["message_id"] = @message["id"];
            <div class="row">
                 <div class="col s12 m5">
                    <div class="card-panel">
                        <span class="black-text">
                            @message["message"]
                        </span>
                    </div>
                    <div class="card-action">
                        Posted by User No. @message["user_id"] at @message["created_at"].
                    </div>
                </div>
            </div>
            <div class ="row">
                <div class="col s12 m6 l5" id="comment-form">@Html.Partial("./Partials/CommentForm")</div>
            </div>
        }
    }
</div>